*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Karla', sans-serif;
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.column {
	background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
    width: 30%;
    margin-bottom: 25px;
}

.card {
    display: flex;
    align-items: center;
}

.card p {
    margin: 0;
}

.card button {
    margin-right: 8px;
}

.navi {
	height: 50px;
	background: #000033;
}

.navi h1 {
	color: #ffffcc;
	font-size: 40px;
    text-transform: uppercase;
    margin-left: 15px;
}

.column-card-list {
    min-height: 50px;
}

.card-placeholder {
    height: 50px;
    background:  #95a5a6;      
}

.column-container .btn-delete {
    background: #858181;
    font-weight: bold;
    border-radius: 100px;
    width:20px;
    height: 20px;
    line-height: 15px;
    box-sizing: 1px 1px 2px #3e3e3e;
    color: #ffffe6;
    margin-left: 10px;
}

.column-container .add-card {
    background-color: #2c3e50;
    border-radius: 5px;
    color: #ffffe6;
    padding: 5px 10px;
    margin: 8px;
}

.column-container .add-card:hover {
    border: 1px solid #006080;
}

.board .btn {
    margin: 8px;
}

.column-container .column-title {
    height: 30px;
    background: #000033;
    color: #ffffcc;
    margin-left: 10px;

}

.card {
    box-shadow: 1px 1px 5px #000;
    margin: 5px;
    width: 75%;
    min-height: 40px;
    overflow-wrap: anywhere;
    cursor: pointer;
}
.card p{
    width: 75%;
    padding: 2px;
}
.column-container li {
    list-style-type: none;
}
