            @import "../abstracts/variables";
            @import "../abstracts/mixins";
            @import "../base/base";
            .footer {
                background: linear-gradient(to bottom right, rgba(#fff, .25), rgba($color-primary, .5));
                background-color: #000;
                height: 25rem;
                clip-path: polygon(0 0vh, 60vw 15vh, 100vw -15vh, 100vw 100vh, 0 100vh);
                padding: 1rem 0;
                font-size: 1.4rem;
                display: grid;
                color: $color-hover;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(4, autofill) 35vw;
                margin-bottom: 0;
                margin-top: 2rem;
                @include respond(tab-land) {
                    height: 35rem;
                    margin-top: 4rem;
                }
                &__logo-boxes {
                    margin-top: 5rem;
                    align-items: center;
                    justify-items: left;
                    padding: 2rem 0;
                    @include respond(tab-land) {
                        margin-top: 8.5rem;
                    }
                }
                &__logo {
                    height: 4.5rem;
                    max-width: 100%;
                }
                &__navigation {
                    grid-row: 2/3;
                    border-top: 1px solid darken($color-hover, 20%);
                    padding-top: 2rem;
                }
                &__links {
                    list-style-type: none;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    transition: ease-in;
                    margin-left: 2.5rem;
                }
                &__photo-link {
                    @include links_style($color-text);
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
                &__link {
                    &:link,
                    &:visited {
                        @include links_style($color-hover);
                        font-size: 1.5rem;
                    }
                    &:hover,
                    &:active {
                        color: $color-action;
                        box-shadow: 0 1rem 2rem rgba(#000, .4);
                    }
                }
                &__item {
                    font-size: 1.2rem;
                    &:hover {
                        transform: scale(1.2) rotate(4deg);
                    }
                    &--1 {
                        grid-column: 1/2;
                        grid-row: 1/2;
                    }
                    &--2 {
                        grid-column: 2/3;
                        grid-row: 1/2;
                    }
                    &--3 {
                        grid-column: 3/4;
                        grid-row: 1/2;
                    }
                    &--4 {
                        grid-column: 4/5;
                        grid-row: 1/2;
                    }
                }
                &__copywrite {
                    grid-column: 5/6;
                    grid-row: 2/3;
                    padding-top: 2rem;
                }
            }