        @import "../abstracts/mixins";
        .navigation {
            &__checkbox {
                display: none;
            }
            &__button {
                background-color: $color-simply-white;
                height: 7rem;
                width: 7rem;
                border-radius: 50%;
                position: fixed;
                top: 6rem;
                right: 6rem;
                z-index: 2000;
                box-shadow: 0 1rem 3rem rgba(#000, .1);
                line-height: 7rem;
                text-align: center;
                @include respond(tab-port) {
                    height: 5.5rem;
                    width: 5.5rem;
                    top: 4.5rem;
                    right: 4.5rem;
                    line-height: 5.5rem;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            &__button-label {
                position: relative;
                transition: all .8;
                &::after,
                &::before {
                    width: 3rem;
                    height: 2px;
                    color: transparent;
                    display: inline-block;
                }
                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    left: 0.5rem;
                }
                &::before {
                    top: 3rem;
                }
                &::after {
                    top: 0;
                }
            }
            &__background {
                height: 6rem;
                width: 6rem;
                border-radius: 50%;
                position: fixed;
                top: 6.5rem;
                right: 6.5rem;
                background-image: radial-gradient($color-text, $color-primary);
                z-index: 1000;
                transition: transform .8s;
                @include respond(tab-port) {
                    height: 4.5rem;
                    width: 4.5rem;
                    top: 5rem;
                    right: 5rem;
                }
            }
            &__nav-list {
                height: 100vh;
                width: 100%;
                position: fixed;
                top: 0;
                right: 0;
                opacity: 0;
                width: 0;
                z-index: -1;
                transition: all .8s cubic-bezier(0.83, 0, 0.17, 1);
            }
            &__list {
                position: absolute;
                @include centered;
                list-style-type: none;
            }
            &__item {
                margin: 1rem;
                transform: transition all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
            }
            &__link {
                &:link,
                &:visited {
                    display: inline-block;
                    @include links_style($color-hover);
                    padding: 1rem 2rem;
                    font-size: 3rem;
                    font-weight: 300;
                    text-transform: uppercase;
                }
                &:hover {
                    transform: translateX(1.2rem);
                    color: $color-headings;
                }
            }
            &__checkbox:checked~&__background {
                transform: scale(80);
            }
            &__checkbox:checked~&__nav-list {
                opacity: 1;
                width: 100%;
                z-index: 1500;
            }
            &__checkbox:checked+&__button &__button-label {
                color: transparent;
            }
            &__checkbox:checked+&__button &__button-label::after {
                transform: rotate(45deg) scale(1.2);
                top: 1.2rem;
                right: 1.2rem;
                background-color: $color-text;
            }
            &__checkbox:checked+&__button &__button-label::before {
                transform: rotate(315deg) scale(1.2);
                top: 1.2rem;
                right: .2rem;
                background-color: $color-text;
            }
        }