    .btn {
        &,
        &:link,
        &:visited {
            @include links_style($color-text);
            text-align: center;
            padding: 1.5rem 4rem;
            display: inline-block;
            margin: 3rem;
            border-radius: 10rem;
            transition: all .3s;
            position: relative;
            cursor: pointer;
        }
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5rem 1rem rgba(0, 0, 0, .2);
        }
        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 10rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        }
    }
    
    .btn--main {
        &,
        &:link {
            background-color: $color-action;
            border: solid 1px lighten($color-action, 10%);
            width: $width-button;
            animation-name: moveInBottom;
            animation-duration: 1s;
            animation-timing-function: ease-in;
            animation-delay: .75;
            animation-fill-mode: backwards;
        }
        &:hover {
            background-color: $color-headings;
            border: 1px solid darken($color-headings, 20%);
        }
        &visited {
            background-color: lighten($color-action, 30%);
        }
        &::after {
            background-color: $color-action;
        }
    }
    
    .btn--booking {
        &,
        &:link {
            background-color: rgba($color-headings, .70);
            border: none;
            padding: 2rem;
            margin: 2rem .5rem;
        }
        &:hover {
            background-color: rgba($color-headings, .90);
        }
        &:visited {
            background-color: $color-action;
        }
    }