* {
  margin: 0;
  padding: 0;
  font-size:10px;
  box-sizing: border-box;;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #ecf0f1;
  font-size: 1.5rem;
  max-height: 100vh;
}

.container {
  width: 80%;
  background-color: #f39c12;
  margin: 3rem auto;
  border-radius: 2px;
  border:4px solid #e67e22;
  box-shadow:3px 3px 3px #e67e22;
}

.intro {
  width: 100%;
  height: auto;
}
.intro__heading{
  text-align: center;
  padding: 1.2rem;
  margin: 1rem;
}
.intro__heading-span{
 border: 3px solid #ecf0f1;
 color: #d35400;
 font-size: 2.5rem;
 padding: 1.2rem;
 border-radius:3px;
 font-variant: small-caps;
}

.hero{
  display: flex;
}
.hero__image{
  width: 60%;
  margin: 0 auto;
  border:2px solid #e67e22;
}

.hero__image img {
  width: 100%;
}
.hero__text{
  width:40%;
}

.hero__text p{
  font-size: 2.2rem;
  padding: 1rem;
  vertical-align: middle;
}
.tree-column {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.game__new{
  text-align: center;
  margin: 1rem;
}
#js-newGameElement button {
  font-size: 2rem;
  border-radius: 5px;
  border: 3px solid #1abc9c;
  background: #16a085;
  color: #2c3e50;
  margin: 0 auto;
  padding: 15px;
}
.btn{
  border-radius: 4px;
  border: 2px solid #1abc9c;
  background-color: #f1c40f;
  margin: .5rem .5rem;
  cursor: pointer;
}

.fa {
  color: #16a085;
}

#js-resultsTableElement {
  background: #16a085;
  margin: 1rem 0;
}

#js-playerPickElement .btn {
  padding: 5px;
}
.game span{
  font-size: 1.6rem;
}
.game__score,
.game__scoreMiddle,
#js-playerName{
  font-size:1.7rem;
  color:#ecf0f1;
}
.game__score .badge{
  font-size: 1.5rem;
  border-radius: 100px;
  background-color: #f1c40f;
  padding:1rem;
  color:#16a085;
}
