@charset "UTF-8";
/*mixin */
/* 
0 - 600px; 600-900 px; 900-1200px; 1800+; 
1200-1800 normal styles

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-dsc

1em = 16px
*/
/* variables */
/* variables */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
}

@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

main {
  position: relative;
}

/*animations */
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  80% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  80% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@font-face {
  font-family: 'Titillium';
  src: url("../fonts/Titillium/Titillium-Black.otf");
  /* IE9 Compat Modes */
  src: url("../fonts/Titillium/Titillium-Black.ot?#iefix") format("embedded-opentype"), url("../fonts/Titillium/Titillium-Black.otf"), url("../fonts/Titillium/Titillium-Bold.otf");
}

@font-face {
  font-family: 'Lato';
}

body {
  font-family: "Titillium", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 1.2;
  font-size: 1.6rem;
  color: #2C3A47;
}

.heading-primary {
  color: #fdfae8;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heading-primary--main {
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  display: block;
  font-size: 5rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 0.5rem;
    font-size: 3rem;
  }
}

.heading-primary--sub {
  display: block;
  font-size: 2.2rem;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@media (max-width: 37.5em) {
  .heading-primary--sub {
    font-size: 1.5rem;
  }
}

p {
  font-family: "Lato", sans-serif;
}

.section__heading {
  text-align: left;
  -webkit-transition: -webkit-transform .3;
  transition: -webkit-transform .3;
  transition: transform .3;
  transition: transform .3, -webkit-transform .3;
}

.heading-secondary {
  font-size: 3.5rem;
  padding: 1rem;
  margin-left: 4rem;
  letter-spacing: .7rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-secondary:hover {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  color: #f15a29;
  letter-spacing: 0.5rem;
}

.offer__heading,
.contact__heading {
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fdfae8));
  background-image: linear-gradient(to right, #fff, #fdfae8);
}

.about-us__heading,
.our-team__heading {
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#2C3A47), to(#4c657b));
  background-image: linear-gradient(to right, #2C3A47, #4c657b);
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #2C3A47;
  text-align: center;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 3rem;
  border-radius: 10rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn--main, .btn--main:link {
  background-color: #70d2ff;
  border: solid 1px #a3e2ff;
  width: 200px;
  -webkit-animation-name: moveInBottom;
          animation-name: moveInBottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: .75;
          animation-delay: .75;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn--main:hover {
  background-color: #f15a29;
  border: 1px solid #a9320b;
}

.btn--mainvisited {
  background-color: white;
}

.btn--main::after {
  background-color: #70d2ff;
}

.btn--booking, .btn--booking:link {
  background-color: rgba(241, 90, 41, 0.7);
  border: none;
  padding: 2rem;
  margin: 2rem .5rem;
}

.btn--booking:hover {
  background-color: rgba(241, 90, 41, 0.9);
}

.btn--booking:visited {
  background-color: #70d2ff;
}

.offer__box {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
  margin: 2rem 0;
}

@media (max-width: 56.25em) {
  .offer__box {
    margin: 5rem 0;
  }
}

@media (max-width: 37.5em) {
  .offer__box {
    margin: 7rem 0;
  }
}

.offer__box-side {
  height: 50rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem #2C3A47;
          box-shadow: 0 1.5rem 4rem #2C3A47;
}

.offer__box-side--front-1 {
  background-color: #3da9d9;
}

.offer__box-side--front-2 {
  background-color: #c84184;
}

.offer__box-side--front-3 {
  background-color: #e38b00;
}

.offer__box-side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.offer__box-side--back-1 {
  background-image: -webkit-gradient(linear, left top, right top, from(#70d2ff), to(#3da9d9));
  background-image: linear-gradient(to right, #70d2ff, #3da9d9);
}

.offer__box-side--back-2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#c854a9), to(#c84184));
  background-image: linear-gradient(to right, #c854a9, #c84184);
}

.offer__box-side--back-3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffae39), to(#e38b00));
  background-image: linear-gradient(to right, #ffae39, #e38b00);
}

.offer__box:hover .offer__box-side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.offer__box:hover .offer__box-side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.offer__box-picture {
  height: 7rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 75% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 75% 80%, 0 100%);
}

.offer__box-picture--1 {
  background-color: #70d2ff;
}

.offer__box-picture--2 {
  background-color: #c854a9;
}

.offer__box-picture--3 {
  background-color: #ffae39;
}

.offer__box-heading {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #2C3A47;
  position: absolute;
  top: 1rem;
  right: 0;
  text-align: right;
  padding: 0 2rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  /*       &--1 {
                background-image: linear-gradient(to bottom, rgba( #659999, .60), #bbd2c5);
            }
            &--2 {
                background-image: linear-gradient(to bottom, rgba(#f4791f, .60), #659999);
            }
            &--3 {
                background-image: linear-gradient(to bottom, rgba(#f37335, .60), #fdc830);
            } */
}

.offer__box-list {
  padding: 3rem;
}

.offer__box-list ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.offer__box-list ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.offer__box-call-to-action {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.offer__box-price {
  color: #F8EFBA;
}

.offer__box-price-from {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.offer__box-price-value {
  font-size: 6rem;
  font-weight: 100;
}

@media (max-width: 56.25em) {
  .offer__box {
    height: auto;
    margin: 5rem 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 1.5rem 4rem #2C3A47;
            box-shadow: 0 1.5rem 4rem #2C3A47;
  }
  .offer__box-side {
    height: auto;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .offer__box-side--back {
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .offer__box-side--back-1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#70d2ff), to(#3da9d9));
    background-image: linear-gradient(to bottom, #70d2ff, #3da9d9);
  }
  .offer__box-side--back-2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c854a9), to(#c84184));
    background-image: linear-gradient(to bottom, #c854a9, #c84184);
  }
  .offer__box-side--back-3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffae39), to(#e38b00));
    background-image: linear-gradient(to bottom, #ffae39, #e38b00);
  }
  .offer__box:hover .offer__box-side--front {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .offer__box-call-to-action {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    width: 100%;
    padding: 4rem;
    margin-top: 2rem;
  }
  .offer__box-price-value {
    font-size: 4rem;
  }
}

@media (max-width: 37.5em) {
  .offer__box {
    margin: 7rem 0;
  }
}

.offer__box--1 .offer__box-list li:not(:last-child) {
  border-bottom: 1px solid #70d2ff;
}

.offer__box--2 .offer__box-list li:not(:last-child) {
  border-bottom: 1px solid #c854a9;
}

.offer__box--3 .offer__box-list li:not(:last-child) {
  border-bottom: 1px solid #ffae39;
}

.form__inputs:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 2rem 2rem;
  border-radius: 3px;
  border: none;
  display: block;
  width: 80%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 56.25em) {
  .form__input {
    width: 90%;
  }
}

@media (max-width: 37.5em) {
  .form__input {
    width: 90%;
  }
}

.form__input:focus {
  outline: 0.1rem dotted #c854a9;
}

.form__input:focus:invalid {
  outline: 0.1rem solid #c84184;
}

.form__input::-webkit-input-placeholder {
  color: #4c657b;
}

.form__label {
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-4rem);
          transform: translate(-4rem);
}

.form__messages {
  font-size: 1.5rem;
  text-align: center;
  width: 70%;
  border-radius: 4px;
}

.form__messages--success {
  border: .2rem solid #0aa37d;
  background-color: rgba(130, 247, 218, 0.25);
}

.form__messages--error {
  border: .2rem solid #c00;
  background-color: rgba(255, 17, 17, 0.25);
}

.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(24, 44, 97, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s .2s;
  transition: all .4s .2s;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 75%;
  background-color: white;
  border-radius: 2px;
  -webkit-box-shadow: 0 1rem 3.5rem #2C3A47;
          box-shadow: 0 1rem 3.5rem #2C3A47;
  display: table;
  overflow: hidden;
}

.popup__left {
  width: 33.33333%;
  display: table-cell;
}

@media (max-width: 56.25em) {
  .popup__left {
    display: none;
  }
}

.popup__right {
  width: 66.66667%;
  display: table-cell;
  vertical-align: middle;
  padding: 2rem 4rem;
  position: relative;
}

@media (max-width: 56.25em) {
  .popup__right {
    width: 100%;
    display: block;
  }
}

.popup__picture {
  display: block;
  width: 100%;
}

.popup__text {
  color: rgba(24, 44, 97, 0.7);
  font-size: 1.4rem;
  margin-bottom: 2rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 2px dotted #5e5e5e;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  -webkit-column-rule: 2px dotted #5e5e5e;
          column-rule: 2px dotted #5e5e5e;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.popup__close {
  -webkit-transition: all .8s;
  transition: all .8s;
}

.popup__close:link, .popup__close:visited {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  display: inline-block;
  text-decoration: none;
  color: #2C3A47;
  font-size: 3rem;
  border: 1px solid #2C3A47;
  border-radius: 200px;
  padding: .25rem 1.5rem;
}

.popup__close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(241, 90, 41, 0.7);
  border: none;
  color: #F8EFBA;
}

#popup:target {
  opacity: 1;
  visibility: visible;
}

/*mixin */
/* 
0 - 600px; 600-900 px; 900-1200px; 1800+; 
1200-1800 normal styles

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-dsc

1em = 16px
*/
.header {
  height: 65vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(24, 44, 97, 0.5))), url("../img/webdev.jpg");
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), rgba(24, 44, 97, 0.5)), url("../img/webdev.jpg");
  background-color: #000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100vw 0, 100vw 35vh, 60vw 65vh, 0 40vh);
          clip-path: polygon(0 0, 100vw 0, 100vw 35vh, 60vw 65vh, 0 40vh);
}

@media (max-width: 56.25em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100vw 0, 100vw 25vh, 70vw 45vh, 0 30vh);
            clip-path: polygon(0 0, 100vw 0, 100vw 25vh, 70vw 45vh, 0 30vh);
    height: 45vh;
    background-position: left;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(218, 135, 174, 0.45)), to(rgba(200, 84, 169, 0.5)));
    background-image: linear-gradient(to bottom right, rgba(218, 135, 174, 0.45), rgba(200, 84, 169, 0.5));
  }
}

.header__logo-box {
  position: absolute;
  top: .5rem;
  left: .5rem;
}

@media (max-width: 56.25em) {
  .header__logo-box .header__logo {
    width: 50%;
  }
}

.header__info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

/* variables */
/*mixin */
/* 
0 - 600px; 600-900 px; 900-1200px; 1800+; 
1200-1800 normal styles

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-dsc

1em = 16px
*/
/* variables */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
}

@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

main {
  position: relative;
}

.footer {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(24, 44, 97, 0.5)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), rgba(24, 44, 97, 0.5));
  background-color: #000;
  height: 25rem;
  -webkit-clip-path: polygon(0 0vh, 60vw 15vh, 100vw -15vh, 100vw 100vh, 0 100vh);
          clip-path: polygon(0 0vh, 60vw 15vh, 100vw -15vh, 100vw 100vh, 0 100vh);
  padding: 1rem 0;
  font-size: 1.4rem;
  display: -ms-grid;
  display: grid;
  color: #ffae39;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (autofill)[4] 35vw;
      grid-template-columns: repeat(4, autofill) 35vw;
  margin-bottom: 0;
  margin-top: 2rem;
}

@media (max-width: 75em) {
  .footer {
    height: 35rem;
    margin-top: 4rem;
  }
}

.footer__logo-boxes {
  margin-top: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: left;
  padding: 2rem 0;
}

@media (max-width: 75em) {
  .footer__logo-boxes {
    margin-top: 8.5rem;
  }
}

.footer__logo {
  height: 4.5rem;
  max-width: 100%;
}

.footer__navigation {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  border-top: 1px solid #d27c00;
  padding-top: 2rem;
}

.footer__links {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-transition: ease-in;
  transition: ease-in;
  margin-left: 2.5rem;
}

.footer__photo-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #2C3A47;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer__link:link, .footer__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffae39;
  font-size: 1.5rem;
}

.footer__link:hover, .footer__link:active {
  color: #70d2ff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.footer__item {
  font-size: 1.2rem;
}

.footer__item:hover {
  -webkit-transform: scale(1.2) rotate(4deg);
          transform: scale(1.2) rotate(4deg);
}

.footer__item--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.footer__item--2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.footer__item--3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.footer__item--4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.footer__copywrite {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding-top: 2rem;
}

/*mixin */
/* 
0 - 600px; 600-900 px; 900-1200px; 1800+; 
1200-1800 normal styles

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-dsc

1em = 16px
*/
.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #F8EFBA;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  line-height: 7rem;
  text-align: center;
}

@media (max-width: 56.25em) {
  .navigation__button {
    height: 5.5rem;
    width: 5.5rem;
    top: 4.5rem;
    right: 4.5rem;
    line-height: 5.5rem;
  }
}

.navigation__button:hover {
  cursor: pointer;
}

.navigation__button-label {
  position: relative;
  -webkit-transition: all .8;
  transition: all .8;
}

.navigation__button-label::after, .navigation__button-label::before {
  width: 3rem;
  height: 2px;
  color: transparent;
  display: inline-block;
}

.navigation__button-label::after, .navigation__button-label::before {
  content: "";
  position: absolute;
  left: 0.5rem;
}

.navigation__button-label::before {
  top: 3rem;
}

.navigation__button-label::after {
  top: 0;
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#2C3A47, #182C61);
  z-index: 1000;
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
}

@media (max-width: 56.25em) {
  .navigation__background {
    height: 4.5rem;
    width: 4.5rem;
    top: 5rem;
    right: 5rem;
  }
}

.navigation__nav-list {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  width: 0;
  z-index: -1;
  -webkit-transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style-type: none;
}

.navigation__item {
  margin: 1rem;
  -webkit-transform: transition all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
          transform: transition all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffae39;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
}

.navigation__link:hover {
  -webkit-transform: translateX(1.2rem);
          transform: translateX(1.2rem);
  color: #f15a29;
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav-list {
  opacity: 1;
  width: 100%;
  z-index: 1500;
}

.navigation__checkbox:checked + .navigation__button .navigation__button-label {
  color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__button-label::after {
  -webkit-transform: rotate(45deg) scale(1.2);
          transform: rotate(45deg) scale(1.2);
  top: 1.2rem;
  right: 1.2rem;
  background-color: #2C3A47;
}

.navigation__checkbox:checked + .navigation__button .navigation__button-label::before {
  -webkit-transform: rotate(315deg) scale(1.2);
          transform: rotate(315deg) scale(1.2);
  top: 1.2rem;
  right: .2rem;
  background-color: #2C3A47;
}

/* about us */
.about-us {
  margin: 4rem 1rem;
  padding: 2rem 0;
  display: block;
}

@media (max-width: 56.25em) {
  .about-us {
    margin: 1rem;
  }
}

.about-us__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

@media (max-width: 56.25em) {
  .about-us__description {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.about-us__description-photo-box {
  width: 75%;
  margin-top: 27rem;
}

@media (max-width: 56.25em) {
  .about-us__description-photo-box {
    text-align: center;
    width: 100%;
  }
}

.about-us__description-photo {
  width: 100%;
}

@media (max-width: 56.25em) {
  .about-us__description-photo {
    width: 30%;
  }
}

.about-us__description-text {
  color: #2C3A47;
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem 4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media (max-width: 56.25em) {
  .about-us__description-text {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

/* offer section */
.offer {
  margin: -21rem 1rem;
  padding: 13rem 0 33rem;
  background-color: #2C3A47;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(24, 44, 97, 0.5)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), rgba(24, 44, 97, 0.5));
  -webkit-clip-path: polygon(0 0, 82vw 29vh, 100vw -14vh, 100vw 111vh, 64vw 146vh, 0vw 135vh);
          clip-path: polygon(0 0, 82vw 29vh, 100vw -14vh, 100vw 111vh, 64vw 146vh, 0vw 135vh);
}

@media (max-width: 56.25em) {
  .offer {
    margin: 1rem;
  }
}

.offer__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-row: 1;
  grid-row: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
  padding: 0 10rem;
}

@media (max-width: 56.25em) {
  .offer__boxes {
    display: block;
    width: 40%;
    margin: 0 auto;
  }
}

@media (max-width: 37.5em) {
  .offer__boxes {
    width: 60%;
  }
}

/* contact us */
.contact_us {
  margin-top: 1rem;
  padding: 0 0 4rem 0;
  background-color: transparent;
  z-index: 99999;
  position: inherit;
}

.contact_us-box {
  background-size: 100%;
  background-image: linear-gradient(105deg, rgba(248, 239, 186, 0.9) 0%, rgba(248, 239, 186, 0.9) 50%, rgba(255, 174, 57, 0.9) 50%);
  border-radius: 3px;
  -webkit-box-shadow: 0 1rem 1.4rem #4c657b;
          box-shadow: 0 1rem 1.4rem #4c657b;
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 56.25em) {
  .contact_us-box {
    width: 80%;
    background-image: linear-gradient(105deg, rgba(248, 239, 186, 0.9) 0%, rgba(248, 239, 186, 0.9) 60%, rgba(255, 174, 57, 0.9) 40%);
  }
}

@media (max-width: 37.5em) {
  .contact_us-box {
    width: 90%;
    background-image: linear-gradient(105deg, rgba(248, 239, 186, 0.9) 0%, rgba(248, 239, 186, 0.9) 70%, rgba(255, 174, 57, 0.9) 30%);
  }
}

.contact_us-box__form {
  width: 50%;
}

@media (max-width: 56.25em) {
  .contact_us-box__form {
    width: 60%;
  }
}

@media (max-width: 37.5em) {
  .contact_us-box__form {
    width: 70%;
  }
}

/*Our team section */
.our-team__workers {
  height: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-row: 1;
  grid-row: 1fr;
  padding: 4rem;
}

@media (max-width: 56.25em) {
  .our-team__workers {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row: 1fr 1fr;
    padding: 3rem;
  }
}

@media (max-width: 37.5em) {
  .our-team__workers {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row: repeat(4, 1fr);
    padding: 3rem;
  }
}

.our-team__worker-name {
  text-align: center;
}

.our-team__worker-image {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.our-team__worker-image:hover {
  cursor: pointer;
}

.our-team__worker-image:hover .our-team__worker-image-layer {
  background: rgba(0, 0, 0, 0.3);
}

.our-team__worker-image:hover .our-team__worker-image-layer-text {
  opacity: 1;
}

.our-team__worker-image-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: background 300ms;
  transition: background 300ms;
  color: #fff;
  text-align: center;
}

.our-team__worker-image-layer-text {
  margin: 0;
  line-height: 100px;
  font-size: 26px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.our-team img {
  max-width: 150%;
}

/*

    grid-template-areas: "photo1 photo1 photo1 photo2
                          photo3 photo4 photo5 photo2
                          photo6 photo6 photo6 photo6" ;
    justify-items: center;
    align-items: center /stretch / end / start;
    grid-auto-rows: 200px; //dodatkowe elementy
    grid-auto-flow: row dense;

    grid-template-columns: max-content 1fr 1fr min-content;
    grid-template-columns: repeat(2, minmax(150px, min-content));
    grid-template-columns: minmax(200px 300px) repeat(3, 1fr);

    // autofill
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(auto-fill/auto-fit, minmax(100px, 1fr); fill //- dzieli po równo przestrzeń; fit - zostawia pustą przestrzeń
    */
/*# sourceMappingURL=main.css.map */