    /* about us */
    
    .about-us {
        margin: 4rem 1rem;
        padding: 2rem 0;
        display: block;
        @include respond(tab-port) {
            margin: 1rem;
        }
        &__description {
            display: grid;
            grid-template-columns: 70% 30%;
            @include respond(tab-port) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
            }
            &-photo-box {
                width: 75%;
                margin-top: 27rem;
                @include respond(tab-port) {
                    text-align: center;
                    width: 100%;
                }
            }
            &-photo {
                width: 100%;
                @include respond(tab-port) {
                    width: 30%;
                }
            }
            &-text {
                color: $color-text;
                font-size: 2rem;
                margin: 1rem;
                padding: 1rem 4rem;
                -moz-column-count: 2;
                -moz-column-gap: 4rem;
                column-count: 2;
                column-gap: 4rem;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                hyphens: auto;
                @include respond(tab-port) {
                    column-count: 1;
                }
            }
        }
    }
    /* offer section */
    
    .offer {
        margin: -21rem 1rem;
        padding: 13rem 0 33rem;
        background-color: $color-text;
        background-image: linear-gradient(to bottom right, rgba(#fff, .25), rgba($color-primary, .5));
        clip-path: polygon(0 0, 82vw 29vh, 100vw -14vh, 100vw 111vh, 64vw 146vh, 0vw 135vh);
        @include respond(tab-port) {
            margin: 1rem;
        }
        &__boxes {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-row: 1fr;
            justify-content: center;
            column-gap: 5rem;
            padding: 0 10rem;
            @include respond(tab-port) {
                display: block;
                width: 40%;
                margin: 0 auto;
            }
            @include respond(phone) {
                width: 60%;
            }
        }
    }
    /* contact us */
    
    .contact_us {
        margin-top: 1rem;
        padding: 0 0 4rem 0;
        background-color: transparent;
        z-index: 99999;
        position: inherit;
    }
    
    .contact_us-box {
        background-size: 100%;
        background-image: linear-gradient(105deg, rgba($color-simply-white, .9) 0%, rgba($color-simply-white, .9) 50%, rgba($color-hover, .9) 50%);
        border-radius: $borders-radius;
        box-shadow: 0 1rem 1.4rem $color-text-lighten;
        width: 70%;
        margin: 0 auto;
        @include respond(tab-port) {
            width: 80%;
            background-image: linear-gradient(105deg, rgba($color-simply-white, .9) 0%, rgba($color-simply-white, .9) 60%, rgba($color-hover, .9) 40%);
        }
        @include respond(phone) {
            width: 90%;
            background-image: linear-gradient(105deg, rgba($color-simply-white, .9) 0%, rgba($color-simply-white, .9) 70%, rgba($color-hover, .9) 30%);
        }
        &__form {
            width: 50%;
            @include respond(tab-port) {
                width: 60%;
            }
            @include respond(phone) {
                width: 70%;
            }
        }
    }
    /*Our team section */
    
    .our-team {
        &__workers {
            height: 100%;
            margin: 0 auto;
            padding: 2rem 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-row: 1fr;
            padding: 4rem;
            @include respond(tab-port) {
                grid-template-columns: repeat(2, 1fr);
                grid-row: 1fr 1fr;
                padding: 3rem;
            }
            @include respond(phone) {
                grid-template-columns: 1fr;
                grid-row: repeat(4, 1fr);
                padding: 3rem;
            }
        }
        &__worker {
            &-name {
                text-align: center;
            }
        }
        &__worker-image {
            width: 100px;
            height: 100px;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            margin: 0 auto;
            &:hover {
                cursor: pointer;
            }
            &:hover &-layer {
                background: rgba(0, 0, 0, .3);
                &-text {
                    opacity: 1;
                }
            }
            &-layer {
                width: 100%;
                height: 100%;
                position: absolute;
                transition: background 300ms;
                color: #fff;
                text-align: center;
                &-text {
                    margin: 0;
                    line-height: 100px;
                    font-size: 26px;
                    text-transform: uppercase;
                    opacity: 0;
                    transition: opacity 300ms;
                }
            }
        }
        img {
            max-width: 150%;
        }
    }