/*mixin */

@mixin links_style($color) {
    text-decoration: none;
    text-transform: uppercase;
    color: $color;
}

@mixin centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Media query

/* 
0 - 600px; 600-900 px; 900-1200px; 1800+; 
1200-1800 normal styles

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-dsc

1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 37.5em) {
            @content
        }
        ;
    }
    @if $breakpoint==tab-port {
        @media (max-width: 56.25em) {
            @content
        }
        ;
    }
    @if $breakpoint==tab-land {
        @media (max-width: 75em) {
            @content
        }
        ;
    }
    @if $breakpoint==big-dsc {
        @media (min-width: 112.5em) {
            @content
        }
        ;
    }
}