/* variables */

$color-primary: #182C61;
$color-secondary-darker: rgb(200, 65, 132);
$color-secondary: rgb(200, 84, 169);
$color-secondary-lighten: #da87ae;
$color-text: #2C3A47;
$color-text-lighten: #4c657b;
$color-action: rgb(112, 210, 255);
$color-action-darker:rgb(61, 169, 217);
$color-headings: #f15a29;
$color-hover: rgb(255, 174, 57);
$color-hover-darker: rgb(227, 139, 0);
$color-simply-white: #F8EFBA;
$color-main-header: lighten(#F8EFBA, 10%);
$primary-font: 'Titillium';
$secondary-font: 'Lato',
sans-serif;
$width-button: 200px;
$borders-radius: 3px;